<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body> 
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-muted" href="#"> </a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark">VIVO CENTRAL NAKHONRATCHASIMA</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                          
                </div>
            </div>
        </header> 
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                @Html.ActionLink("หน้าหลัก", "Index", "Home", new { }, new {@class = "p-2 text-muted" })
                @Html.ActionLink("ข้อมูลสมาชิก", "Index", "UserAccouts", new { }, new { @class = "p-2 text-muted" }) 
                @Html.ActionLink("ข้อมูลประเภทสินค้า", "Index", "ProductTypes", new { }, new { @class = "p-2 text-muted" })
                @Html.ActionLink("ข้อมูลสินค้า", "Index", "Products", new { }, new { @class = "p-2 text-muted" })
                @Html.ActionLink("ข้อมูลธนาคาร", "Index", "Banks", new { }, new { @class = "p-2 text-muted" })
                @Html.ActionLink("การชำระเงิน", "Index", "Payment", new { }, new { @class = "p-2 text-muted" })
                @Html.ActionLink("รายงาน", "Index", "Report", new { }, new { @class = "p-2 text-muted" })
            </nav>
        </div> 
    </div> 
    <!-- /.container --> 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="blog-footer">
            <center>

                <p> ชั้น 2 เซนทรัลพลาซ่า นครราชสีมา ตำบลในเมือง อำเภอเมืองนครราชสีมา จังหวัดนครราชสีมา 30000   โทร. 044014230</p>

            </center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
