@model IEnumerable<VIVO.Models.Bank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank_User)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank_User)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bank_Number }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bank_Number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bank_Number })
        </td>
    </tr>
}

</table>
