@model IEnumerable<VIVO.Models.ProductOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Parcel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDetail.Pro_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccout.User_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Parcel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDetail.Pro_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccout.User_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_Id })
        </td>
    </tr>
}

</table>
