@model IEnumerable<VIVO.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>ระบบจัดการข้อมูล</h2>

<p>
    @Html.ActionLink("เพิ่มข้อมูล", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Name)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Pro_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pro_Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.ProType_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pro_Color)
        </td>
        <td>
            <img src="~/image/@Html.DisplayFor(modelItem => item.Pro_Picture)"
                 alt="company logo"
                 height="50px"
                 asp-append-version="true" /> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.ProType_Name)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Pro_Id }, new { @class = "fas fa-edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.Pro_Id }, new { @class = "fas fa-file" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.Pro_Id }, new { @class = "fas fa-trash-alt" })
        </td>
    </tr>
}

</table>
